$background-color : #161623;
$font-primary-color : white;
$font : "montserrat", serif, sans-serif;

::ng-deep *{
    margin: 0;
    padding: 0;
    font-family: $font;
    color: white;
}
fa-icon{
    position: absolute;
    z-index: 1;
    font-size: 1.2rem;
    top: 8px;
    left: 10px;
    color: $font-primary-color;
}

@keyframes rotate{
    0% {
              transform: scale(1) rotateZ(0);
    }
    50% {
              transform: scale(1.1) rotateZ(180deg);
    }
    100% {
              transform: scale(1) rotateZ(360deg);
    }
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $background-color;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        top: 200px;
        left: 100px;
        width: 100%;
        height: 100%;
        background: linear-gradient(#f00, #f0f);
        clip-path: circle(30% at 50% 50%);
        animation: rotate 5s infinite ;
        @media only screen and (min-width : 1224px) {
            left: 400px;
            clip-path: circle();
            }
    }
    &::after{
        content: '';
        position: absolute;
        top: -200px;
        left: -100px;
        width: 100%;
        height: 100%;
        background: linear-gradient(#2196f3, #e91e63);
        clip-path: circle(20% at 50% 50%);
        animation: rotate 5s 1s infinite ;
    }
}