<div class="container">
    <div class="form-container">
        <h1>travailAvecLeSourire</h1>
        <h2>S'inscrire</h2>
        <form [formGroup]="registerForm">
            <input type="text" placeholder="Nom" class="form-control" id="firstname" formControlName="firstname">
            <input type="text" placeholder="Prénom" class="form-control" id="lastname" formControlName="lastname">
            <input type="number" min="18" value="18" class="form-control" id="age" formControlName="age">
            <input type="mail" placeholder="monemail@email.com" class="form-control" id="email" formControlName="email">
            <input type="password" placeholder="mot de passe" class="form-control" id="password" formControlName="password">
            <p>8 caractères dont 1 chiffre</p>
            <button (click)="register()">S'inscrire</button>
            <button routerLink="/login">Se connecter</button>
        </form>
    </div>
</div>
