<div class="container">
    <div class="form-container">
        <h1>travailAvecLeSourire</h1>
        <h2>S'inscrire</h2>
        <form>
            <input type="text" placeholder="Nom">
            <input type="text" placeholder="Prénom">
            <input type="number" min="18" value="18">
            <input type="mail" placeholder="monemail@email.com">
            <input type="password" placeholder="mot de passe">
            <p>8 caractères dont 1 chiffre</p>
            <button>S'inscrire</button>
            <button routerLink="/login">Se connecter</button>
        </form>
    </div>
</div>
