<app-header></app-header>
<div class="return">
    <fa-icon [icon]="arrowLeft" routerLink="/home" class="icon"></fa-icon>
</div>
<div class="container">
    <form>
        <input type="text">
        <textarea></textarea>
        <div class="button">
    <div class="button">
        <div>
            <label for="file" class="label-file">Image / Vidéo</label>
            <input id="file" type="file" accept=".jpg, .jpeg, .png, .gif, .mp4" id="file" name="image" class="input-file" (change)="onFileAdded($event)">           
        </div>
        <button>Envoyer</button>
    </div>
        </div>
    </form>
</div>