<app-header></app-header>
<div class="return">
    <fa-icon [icon]="arrowLeft" routerLink="/developpeur-web"></fa-icon>
</div>
<div class="container">
    <div class="all-card" *ngFor="let ressource of ressources">
        <div class="card" *ngIf="ressource.parcour === 'developpeur-web' && ressource.project === 'projet5' ">
                <!-- <h1 class="title">les balise htmll</h1> -->
                <p class="content">{{ressource.content}}</p>
                <div class="date">
                    <p>Publier par : {{ressource.User.firstname}} {{ressource.User.lastname}}</p>
                    <p>Le {{ressource.createdAt | date:'dd/MM/yyyy'}} à {{ressource.createdAt | date:'HH:mm'}}</p>
                </div>
            </div>
    </div>
    
</div>