
<div class="return">
    <fa-icon [icon]="arrowLeft" routerLink="/developpeur-web"></fa-icon>
</div>
<div class="container">
    <div class="card">
        <h1 class="title">les balise html</h1>
        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quibusdam quidem illum officiis tenetur iusto accusamus, recusandae id tempore temporibus perferendis fuga dolore cumque quo nam maiores expedita nulla debitis, laboriosam sit vero. Velit, veniam atque deleniti ad sunt aut blanditiis impedit architecto accusamus eveniet, ipsum dolores ea, incidunt corrupti.</p>
        <div class="date">
            <p>Publier par : truc bidule</p>
            <p>Le 08/02/2890 à 12H30</p>
        </div>

    </div>
</div>
