$background-color : #161623;
$font-primary-color : white;
$font : "montserrat", serif, sans-serif;

::ng-deep *{
    margin: 0;
    padding: 0;
    font-family: $font; 
}
fa-icon{
    position: absolute;
    z-index: 1;
    font-size: 1.2rem;
    top: 8px;
    left: 10px;
    color: $font-primary-color;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $background-color;
    z-index: -1;
    flex-direction: column;
    color: white;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#f00, #f0f);
        clip-path: circle(30% at right 70%);
    }
    &::after{
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#2196f3, #e91e63);
        clip-path: circle(20% at 10% 10%);
    }
    form{
        z-index: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 300px;
        height: 400px;
        padding: 10px;
        input{
            margin-bottom: 10px;
            height: 30px;
            width: 200px;
            background: transparent;
            border-radius: 20px;
            padding-left: 20px;
            color: white;
            outline: none;
        }
        label{
            margin-bottom: 5px;
        }
        .input-file{
            display: none;
        }
        .label-file{
            background: rgba(255, 255, 255, 0.5);
            padding: 5px;
            border-radius: 15px;
            box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            outline: none;
            margin: 10px 0;
        }
        button{
            background: rgba(255, 255, 255, 0.5);
            padding: 5px;
            border-radius: 15px;
            box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            outline: none; 
            color: white;
            margin: 10px 0;
        }
    }
}