$background-color : #161623;
$font-primary-color : white;
$font : "montserrat", serif, sans-serif;

::ng-deep *{
    margin: 0;
    padding: 0;
    font-family: $font; 
}

@keyframes rotate{
    0% {
              transform: scale(1) rotateZ(0);
    }
    50% {
              transform: scale(1.1) rotateZ(180deg);
    }
    100% {
              transform: scale(1) rotateZ(360deg);
    }
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $background-color;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        top: 200px;
        left: 100px;
        width: 100%;
        height: 100%;
        background: linear-gradient(#f00, #f0f);
        clip-path: circle(30% at 50% 50%);
        animation: rotate 5s infinite ;
        @media only screen and (min-width : 1224px) {
            left: 400px;
            clip-path: circle();
            }
    }
    &::after{
        content: '';
        position: absolute;
        top: -200px;
        left: -100px;
        width: 100%;
        height: 100%;
        background: linear-gradient(#2196f3, #e91e63);
        clip-path: circle(20% at 50% 50%);
        animation: rotate 5s 1s infinite ;
    }
    .form-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        flex-direction: column;
        z-index: 1;
        
        h1, h2{
            color: $font-primary-color;
        }
        form{
            position: relative;
            width: 280px;
            height: 420px;
            margin: 30px;
            box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
            border-radius: 15px;
            background: rgba(255, 255, 255, 0.1);
            //overflow:initial;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            z-index: 4;
            input{
                margin: 10px 0;
                height: 30px;
                width: 200px;
                background: transparent;
                border-radius: 20px;
                padding-left: 20px;
                color: white;
                outline: none;
                touch-action: none;
                font-size: 16px;
                &::placeholder{
                    color: white;
                }
            }
            p{
                color: $font-primary-color;
                margin-bottom: 20px;
            }
            .error{
                font-size: 14px;
                border-radius: 15px;
                border: 2px solid #161623;
                padding: 5px;
                text-align: center;
                width: 90%;
            }
            button{
                margin-bottom: 20px;
                height: 40px;
                width: 120px;
                border-radius: 50px;
                border: none;
                outline: none;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}