<div class="container-fluid">

  <div class="row">

    <div class="col-md-4">

      <div class="user-list-card">
        <div class="user-card">

          <img class="avatar"/>
          <p class="username">xgcxfxgxgxg</p>

        </div>
      </div>

    </div>
    <div class="col-md-8">

      <div class="chat-container">
        <ng-container>
          <div class="chat-header">

            <img />
            <p class="username">vvvvvvv</p>

          </div>

          <div class="chat-body">
            <div>
              <p class="message-container">vvvvvv</p>
            </div>
          </div>

          <div class="chat-footer">

            <div class="row">
              <div class="col-md-10">
                <div class="form-group mb-0">
                  <input type="text"
                         placeholder="Type a message"
                         class="form-control"/>
                </div>
              </div>

              <div class="col-md-2 text-center align-self-center">
                <button class="btn btn-primary btn-sm px-3">Send</button>
              </div>
            </div>

          </div>
        </ng-container>
      </div>

    </div>

  </div>

</div>