<app-header></app-header>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-4">

      <div class="user-list-card">
        <div class="user-card" [routerLink]="['/chat/room']">
          <img src="" alt="">
          <p class="username">travailAvecLeSourire</p>            
      </div>
        <div class="user-card" *ngFor="let user of users" [ngClass]="currentUser === user.id && 'same-users'" [routerLink]="['/chat/room', user.id,currentUser]">
            <img [src]="user.picture" alt="" class="avatar">
            <p class="username">{{user.firstname}} {{user.lastname}}</p>            
        </div>
      </div>

    </div>
    <div class="col-md-8">

      <div class="chat-container">
        <ng-container >
          <div class="chat-header">

            <img />
            <p class="username">qdfsdcs</p>

          </div>

          <div class="chat-body">
            <cdk-virtual-scroll-viewport itemSize = "0" class="viewport">
            <div *cdkVirtualFor="let msg of messages" [ngClass]="currentUser === msg.userId && 'same-user'">
              <p class="message-container" >{{msg.message}}</p>
            </div> 
            <div *ngFor="let message of chatMessage" [ngClass]="currentUser === message.msg.userId && 'same-user'">
              <p class="message-container">{{message.msg.message}}</p>
            </div>
          </cdk-virtual-scroll-viewport>
          </div>

          <div class="chat-footer">

            <div class="row">
              <div class="col-md-10">
                <div class="form-group mb-0" [formGroup]="messageForm">
                  <input type="text" placeholder="Type a message" class="form-control" formControlName="message" [(ngModel)]="messageText"/>
                </div>
              </div>

              <div class="col-md-2 text-center align-self-center">
                <button class="btn btn-primary btn-sm px-3" (click)="sendMessage()">Send</button>
              </div>
            </div>

          </div>
        </ng-container>
      </div>

    </div>

  </div>

</div>