<app-header></app-header>
<div class="return">
    <fa-icon [icon]="powerOf" routerLink="/login" (click)="disconnect()"></fa-icon>
</div>
<div class="container">
    <div class="parcours">
        <h2>Acces aux ressources</h2>
        <h2 class="chose-parcours">Choisissez votre parcours :</h2>
        <div class="options">
            <h3 routerLink="/developpeur-web">Développeur web</h3>
            <h3 routerLink="/developpeur-frontend">Développeur web frontend</h3>
            <h3 routerLink="/chat">Rejoindre le chat</h3>
            <h3 routerLink="/visio">Rejoindre la visio</h3>
        </div>
    </div>
</div>