/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: Montserrat;
    src: url("assets/font/Montserrat-Medium.ttf") format("opentype");
}

@font-face{
    font-family: Montserrat-regular;
    src: url("assets/font/Montserrat-Regular.ttf") format("opentype");
}

@font-face{
    font-family: Marker;
    src: url("assets/font/PermanentMarker-Regular.ttf") format("opentype");
}