<app-header></app-header>
<div class="return">
    <fa-icon [icon]="arrowLeft" routerLink="/home" class="icon"></fa-icon>
</div>

<div class="container">
    <div class="projects">
        <div>
            <button class="send" routerLink="/developpeur-front/postressource">Ajouter une ressource</button>
        </div>
        <div class="all-card">
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>01</h2> 
                </div>
                <div class="front">
                    <h3>Projet 1</h3>
                    <button routerLink="/dev-front-p1">Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>02</h2> 
                </div>
                <div class="front">
                    <h3>Projet 2</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>03</h2> 
                </div>
                <div class="front">
                    <h3>Projet 3</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>04</h2> 
                </div>
                <div class="front">
                    <h3>Projet 4</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>05</h2> 
                </div>
                <div class="front">
                    <h3>Projet 5</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>06</h2> 
                </div>
                <div class="front">
                    <h3>Projet 6</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>07</h2> 
                </div>
                <div class="front">
                    <h3>Projet 7</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>08</h2> 
                </div>
                <div class="front">
                    <h3>Projet 8</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>09</h2> 
                </div>
                <div class="front">
                    <h3>Projet 9</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>10</h2> 
                </div>
                <div class="front">
                    <h3>Projet 10</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>11</h2> 
                </div>
                <div class="front">
                    <h3>Projet 11</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>12</h2> 
                </div>
                <div class="front">
                    <h3>Projet 12</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>13</h2> 
                </div>
                <div class="front">
                    <h3>Projet 13</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="back">
                   <h2>14</h2> 
                </div>
                <div class="front">
                    <h3>Projet 14</h3>
                    <button>Accès aux ressources</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>