<app-header></app-header>
<div class="container">
  <div class="post" [formGroup]="ressourceForm">
    <input type="text" class="form-control" formControlName="title" placeholder="titre (obligatroire)"> 
    <textarea name="" id="" cols="30" rows="10" placeholder="votre ressource" class="form-control" formControlName="content"></textarea>
    <div class="select">
        <select name="project" id="select-project" class="form-control" formControlName="project">
            <option value=""> -- choisir le projet -- (obligatoire)</option>
            <option value="projet1">projet 1</option>
            <option value="projet2">projet 2</option>
            <option value="projet3">projet 3</option>
            <option value="projet4">projet 4</option>
            <option value="projet5">projet 5</option>
            <option value="projet6">projet 6</option>
            <option value="projet7">projet 7</option>
        </select>
    </div>
    <p class="error" *ngIf="errorMsg">{{errorMsg}}</p>
    <div class="button">
        <div>
            <label for="file" class="label-file">Image / Vidéo / Pdf</label>
            <input id="file" type="file" accept=".jpg, .jpeg, .png, .gif, .mp4, .pdf" id="file" name="image" class="input-file form-control" formControlName="attachment" (change)="detectFiles($event)">           
        </div>
        <button (click)="postRessource()">Envoyer</button>
    </div>
    <img *ngIf="url" [src]="url" class="rounded mb-3"> 
</div>  
</div>

